tools/
vendor/
node_modules/
public/

resources/js/@core
resources/js/@layouts
resources/styles/@core

auto-imports.d.ts
components.d.ts
typed-router.d.ts
.eslintrc-auto-imports.js
.eslintrc-auto-import.json

.vscode/
themeConfig.js
pnpm-lock.yaml
package.json
package-lock.json
jsconfig.json
docker-compose.yml
.stylelintrc.json
