// Write your overrides

.app-text-field {
    .v-field__input {
        height: 38px !important;
    }
}

.blur-financials {
    filter: blur(6px);
}

.three-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    padding-bottom: 0 !important;
}

.v-skeleton-loader {
    //height: 100% !important;

    //.v-skeleton-loader__image {
    //    height: 100% !important;
    //}
}

.ps-no-vertical.ps--active-y .ps__rail-y {
    display: none !important;
}

.ps-no-horizontal.ps--active-x .ps__rail-x {
    display: none !important;
}

.money input[type="number"]::-webkit-inner-spin-button,
.money input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
